body{
      background-color: #F9F9F9;
    }

hr{
    background-color: white;
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 6px;
    width:30%;
  }

h1{
  color: #0C4271;
}

h3{
    color: #0A81AB;
}

img{
  background-color: black;
}
